header{
    background-color: blue;
    color: white;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left{
    width: 20%;
}

header .left img{
    max-width: 30%;
}

header .right{
    width: 60%;
    text-align: right;
}

header .right ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .right ul li{
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

header .right ul li a{
    text-decoration: none;
    color: white;
}

